# Ignore Python compiled files
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/

# Ignore migration and cache directories
migrations/
__pycache__/

# Ignore IDE/editor specific files
.idea/
.vscode/

media/
